<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zkproject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <zkproject.My.MySettings>
            <setting name="showpicture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="columnsmargin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rowsmargin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="viewrows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="viewcolumns" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="quicksale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exchangeRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMport" serializeAs="String">
                <value />
            </setting>
        </zkproject.My.MySettings>
    </userSettings>
</configuration>